//////////////////////////////////////
//////////Header Containers Element Styles

.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  background-color: #ffffff;
  margin-bottom: 2.5rem;
  &__logo-box {
    order: 1;
    padding-left: 1.5rem;
    padding-right: 60rem;
  }
  &__logo {
    width: 15rem;
  }
  &__navBox {
    display: flex;
    flex-wrap: wrap;
    order: 2;
  }
  &__signupLink {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.75rem;
    font-weight: 600;
    color: $color-primary-dark;
    width: 11rem;
    justify-content: center;
    align-items: top;
    padding-top: 1.6rem;
    order: 3;
  }
}

///////////////////////////
////////Section 1 Intro and Search Input

.section1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  &__introText {
    width: 100%;
    font-size: 2rem;
    line-height: 1.5;
    padding-left: 2.25rem;
    padding-bottom: 1.5rem;
  }
  &__searchBox {
    display: flex;
    width: 100%;
  }
  &__searchInput {
    color: #ffffff;
    margin-left: 2.25rem;
    justify-content: space-between;
    display: flex;
    width: 27.5rem;
    align-content: center;
    border: solid 0.1rem rgb(228, 227, 227);
    border-radius: 1.2rem;
    margin-bottom: 1.8rem;
  }
  &__searchInput--locSymbolBox {
    display: flex;
    justify-content: center;
    width: 3.5rem;
    text-decoration-color: #ffffff;
    background-color: rgb(228, 227, 227);
    padding: 0.4rem;
    border-bottom-left-radius: 1.1rem;
    border-top-left-radius: 1.1rem;
  }
  &__searchInput--locSymbol {
    display: flex;
    color: #0a0909;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
  }
  &__searchInput--locText {
    font-size: 1.25rem;
    color: #0a0909;
    padding: 0.7rem;
  }
  &__searchInput--btn {
    font-size: 1.25rem;
    text-decoration-color: #ffffff;
    background-color: $color-primary-dark;
    padding: 0.8rem;
    border-bottom-right-radius: 11px;
    border-top-right-radius: 11px;
  }
  &__searchInput--magicon {
    display: none;
  }
}

///////////////////////////
////////Intro Section 1 Search Filter

.section1__filterBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
  width: 100%;
  padding-left: 2.25rem;

  &--header {
    font-size: 2rem;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
  }
  &--infoTextBox {
    width: 100%;
    display: flex;
    margin-left: 2.25rem;
    padding-top: 0.5rem;
    align-items: center;
  }
  &--infoTextBoxIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
    border: solid 0.1rem rgb(228, 227, 227);
    border-radius: 100%;
    font-size: 1rem;
    color: $color-primary-dark;
  }
}

.section1__filterBoxLinks {
  display: flex;
  position: relative;
  height: 3.8rem;
  padding-right: 2.5rem;
  padding-left: 4.25rem;
  margin-right: 1rem;
  margin-top: 0.75rem;
  border: solid 0.2rem rgb(228, 227, 227);
  border-radius: 2.5rem;
  align-items: center;
  justify-content: center;
  &:hover {
    color: #ffffff;
    background-color: $color-primary-dark;
    cursor: pointer;
  }
  &--moneyIcon {
    display: flex;
    position: absolute;
    left: -0.5rem;
    justify-content: center;
    align-items: center;
    height: 3.8rem;
    width: 3.8rem;
    font-size: 1.65rem;
    color: $color-primary-dark;
    border-radius: 100%;
    background-color: $color-secondary-light;
  }
  &--familyIcon {
    display: flex;
    position: absolute;
    left: -0.5rem;
    justify-content: center;
    align-items: center;
    height: 3.8rem;
    width: 3.8rem;
    font-size: 2.2rem;
    color: $color-primary-dark;
    border-radius: 100%;
    background-color: $color-secondary-light;
  }
  &--heartIcon {
    display: flex;
    position: absolute;
    left: -0.5rem;
    justify-content: center;
    align-items: center;
    height: 3.8rem;
    width: 3.8rem;
    font-size: 1.5rem;
    color: $color-primary-dark;
    border-radius: 100%;
    background-color: $color-secondary-light;
  }
  &--dogIcon {
    display: flex;
    position: absolute;
    left: -0.5rem;
    justify-content: center;
    align-items: center;
    height: 3.8rem;
    width: 3.8rem;
    font-size: 1.85rem;
    color: $color-primary-dark;
    border-radius: 100%;
    background-color: $color-secondary-light;
  }
}
